{
  "version": 1,
  "entries": [
    {
      "account": "STN_Boss",
      "channel": "##rosaic",
      "permissions": ["op"]
    },
    {
      "account": "M_Rowan",
      "channel": "##rosaic",
      "permissions": ["op"]
    },
    {
      "account": "chain-bot",
      "channel": "##rosaic",
      "permissions": ["deny"]
    },
    {
      "account": "rictus",
      "channel": "##rosaic",
      "permissions": ["deny"]
    }
  ]
}
