{
  "version": 1,
  "channels": [
    {
      "channel": "##rosaic",
      "accounts": [
        {
          "account": "STN_Boss",
          "permissions": ["op"]
        },
        {
          "account": "M_Rowan",
          "permissions": ["op"]
        }
      ]
    }
  ]
}
